<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ANRPC_Inventory.Properties.Settings.ANRPC_InventoryConnectionString" connectionString="Data Source=172.18.8.48;Initial Catalog=ANRPC_Inventory;Persist Security Info=True;User ID=sa;Password=P@ssw0rd" providerName="System.Data.SqlClient"/>
        <add name="ANRPC_Inventory.Properties.Settings.ANRPC_Inventory_v2ConnectionString" connectionString="Data Source=172.18.8.48;Initial Catalog=ANRPC_Inventory_v2;User ID=tms;Password=P@ssw0rd" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
